.banner {
    min-height: 750px;
    max-height: 800px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 20;

    &_bottom {
        min-height: 580px;
        margin-bottom: -80px;
        .banner__btn {
            margin-top: 50px;
        }
        background-position: bottom;
    }
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        display: block;
        background: linear-gradient(to right, rgba(108, 62, 42, 0.56), rgba(112, 84, 79, 0) 100%);
    }

    .page__container {
        width: 100%;
        z-index: 20;
    }

    &__title {
        font-size: 60px;
        font-weight: 800;
        line-height: 60px;
        color: white;
        font-family: "__Circle_5";
        max-width: 655px;
        margin-bottom: 70px;
    }

    &__advantages {
        margin-bottom: 70px;
        display: flex;
        align-items: center;
        max-width: 740px;
        li {
            margin-right: 40px;
            display: flex;
            align-items: center;
        }

        div {
            margin-right: 12px;
            background-color: $orange;
            background-size: 47%;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            width: 54px;
            height: 54px;
            flex-shrink: 0;
        }

        p {
            color: white;
        }
    }

    &__btn {
        min-width: 248px;
    }

    @media (max-width: 580px) {
        min-height: 670px;
        &__title {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 40px;
            margin-top: 50px;
        }

        &__advantages {
            max-width: 200px;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 30px;
            li {
                margin-right: 0;
                margin-bottom: 30px;
                font-size: 15px;
            }

            div {
                width: 45px;
                height: 45px;
            }
        }

        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            font-size: 20px;
        }

        &_bottom {
            min-height: 400px;
            margin-bottom: -25px;
        }
    }
}
