.header {
    height: 100px;
    background-image: url(../img/bg-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .page__container {
        position: relative;
        display: grid;
        grid-template-columns: 133px max-content 1fr max-content 52px;
        gap: 30px;
        height: 100%;
        align-items: center;
    }
    &__burger {
        transform: translateY(-8px);
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: $orange;
        border-radius: 100px;
        align-items: center;
        transition-duration: 0.3s;
        transition-delay: 0s;
        transition-timing-function: ease;
        transition-property: background-color;
        box-shadow: 0px 4px 25px rgb(255 116 0 / 44%);
        &:hover {
            background-color: $green;
            box-shadow: 0px 4px 25px rgb(111 182 41 / 44%);
        }

        > div {
            height: 16px;
            width: 22px;
            margin-right: 14px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: white;
            }
        }

        > span {
            font-size: 14px;
            color: #ffffff;
            font-family: "__Circe Bold_5";
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__block {
        transform: translateY(-8px);
        opacity: 0;
        visibility: 0;
        transition-property: opacity, visibility;
        transition: 0.25s linear;

        > *:first-child {
            color: $brown;
            font-family: "__Circle_5";
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
        }
        > *:not(:first-child) {
            font-size: 14px;
            color: #9e7770;
        }
    }

    &__logo {
        align-self: center;
        width: 109px;
        justify-self: center;
        transform: translateX(-50px);
    }

    &__cart {
        transform: translateY(-8px);
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: $orange;
        transition-duration: 0.3s;
        transition-delay: 0s;
        transition-timing-function: ease;
        transition-property: background-color;
        box-shadow: 0px 4px 25px rgb(255 116 0 / 44%);
        &:hover {
            background-color: $green;
            box-shadow: 0px 4px 25px rgb(111 182 41 / 44%);
            background-color: $green;
        }
        background-image: url(../img/cart.svg);
        background-size: 27px 27px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__products {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fcf2d9;
        z-index: -1;
        padding: 80px 20px 0;
        border-radius: 0 0 20px 20px;
        opacity: 0;
        visibility: 0;
        transition-property: opacity, visibility;
        transition: 0.25s linear;
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        li {
            width: max-content;
            margin-bottom: 15px;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fffcf4;
                padding: 10px 30px;
                border-radius: 10px;
                box-shadow: 0px 8px 20px rgb(249 239 214 / 50%);
                transition-duration: 0.3s;
                transition-delay: 0s;
                transition-timing-function: ease;
                transition-property: box-shadow;
                &:hover {
                    box-shadow: 0px 12px 20px rgb(214 205 184 / 50%)
                }
            }
        }
        img {
            width: 37px;
            height: 37px;
            margin-right: 12px;
        }
    }

    &__mobile {
    }

    &.open-menu {
        .header__block {
            opacity: 1;
            visibility: 1;
        }

        .header__products {
            opacity: 1;
            visibility: 1;
        }
    }
}

.logo {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    height: 68px;
}
