.popup {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f0d6;
  overflow: auto;

  &.popup_opened {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    z-index: 999999999999;
  }

  &__container {
    position: relative;
    padding-top: 10px;
  }

  &__close {
    position: absolute;
    top: -35px;
    cursor: pointer;
    right: -35px;
    font-size: 30px;
    color: $orange;
    background-color: transparent !important;
    span {
      color: $orange;
    }
  }

  &__img {
    max-width: 50vw;
    max-height: 70vh;
    object-fit: contain;
    object-position: top center;
    border-radius: 5px;
    @media (max-width: 1180px) {
      max-width: 70vw;
    }

    @media (max-width: 768px) {
      max-width: 85vw;
    }
  }

  &#cart {
    .popup__close {
      top: 45px;
      right: 35px;
      @media (max-width: 580px) {
        top: 25px;
        right: 20px;
      }
    }
  }

  &#header-mobile {
    .popup__close {
      top: -5px;
      right: 25px;
      font-size: 15px;
      border-radius: 50%;
      border: 1px solid $orange;
      background: #f9f1d7 !important;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
